<h1>About</h1>
<p>You have an idea, want to write it down and share with fellows to find some motivations for your work? 
    Or you just have an idea and want to write it down and save the environment simultane-ously? 
    There is no place better than “Sing My Song” where your traditional notes become digital, and it’s easy to get some comments for your work before publishing it. 
    Register and save a place for your song(s).</p>
<p>Version: 1.0.0</p>