<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Write down your own song ideas</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Add Song Idea</a>
</div>